In [3]:
import numpy as np
import pandas as pd
import scipy.io
import h5py

# Data Import

In [4]:
# downloaded from https://data.mendeley.com/datasets/p7ft2bvphx/1
v1 = scipy.io.loadmat('data/empirical/SPKcounts_V20160929cue_MW_250X250ms.mat')
v2 = scipy.io.loadmat('data/empirical/SPKcounts_V20160930cue_MW_250X250ms.mat')
v3 = scipy.io.loadmat('data/empirical/SPKcounts_V20161005cue_MW_250X250ms.mat')
v4 = scipy.io.loadmat('data/empirical/SPKcounts_V20161017cue_MW_250X250ms.mat')
w1 = scipy.io.loadmat('data/empirical/SPKcounts_W20160112cue_MW_250X250ms.mat')
w2 = scipy.io.loadmat('data/empirical/SPKcounts_W20160113cue_MW_250X250ms.mat')
w3 = scipy.io.loadmat('data/empirical/SPKcounts_W20160121cue_MW_250X250ms.mat')
w4 = scipy.io.loadmat('data/empirical/SPKcounts_W20160122cue_MW_250X250ms.mat')
vs = [v1, v2, v3, v3]
ws = [w1, w2, w3, w4]

# downloaded from https://data.mendeley.com/datasets/p7ft2bvphx/1
v1 = h5py.File('data/emp_spikes/RastVect-V20160929-binsize10ms-align2SaccadeOnset.mat')
v2 = h5py.File('data/emp_spikes/RastVect-V20160930-binsize10ms-align2SaccadeOnset.mat')
v3 = h5py.File('data/emp_spikes/RastVect-V20161005-binsize10ms-align2SaccadeOnset.mat')
v4 = h5py.File('data/emp_spikes/RastVect-V20161017-binsize10ms-align2SaccadeOnset.mat')
w1 = h5py.File('data/emp_spikes/RastVect-W20160112-binsize10ms-align2SaccadeOnset.mat')
w2 = h5py.File('data/emp_spikes/RastVect-W20160113-binsize10ms-align2SaccadeOnset.mat')
w3 = h5py.File('data/emp_spikes/RastVect-W20160121-binsize10ms-align2SaccadeOnset.mat')
w4 = h5py.File('data/emp_spikes/RastVect-W20160122-binsize10ms-align2SaccadeOnset.mat')
vs2 = [v1, v2, v3, v4]
ws2 = [w1, w2, w3, w4]

# https://www.dropbox.com/scl/fo/dpi14xg8hx7hkanxx6r5s/AOSz_I1AteWJfimHM30qKx8/RewFeedback?dl=0&rlkey=y9k28qovxesuex13t5jecilfs&subfolder_nav_tracking=1v1
v1 = h5py.File('data/emp_spikes/RastVect-V20160929-binsize10ms-align2RewFeedback.mat')
v2 = h5py.File('data/emp_spikes/RastVect-V20160930-binsize10ms-align2RewFeedback.mat')
v3 = h5py.File('data/emp_spikes/RastVect-V20161005-binsize10ms-align2RewFeedback.mat')
v4 = h5py.File('data/emp_spikes/RastVect-V20161017-binsize10ms-align2RewFeedback.mat')
w1 = h5py.File('data/emp_spikes/RastVect-W20160112-binsize10ms-align2RewFeedback.mat')
w2 = h5py.File('data/emp_spikes/RastVect-W20160113-binsize10ms-align2RewFeedback.mat')
w3 = h5py.File('data/emp_spikes/RastVect-W20160121-binsize10ms-align2RewFeedback.mat')
w4 = h5py.File('data/emp_spikes/RastVect-W20160122-binsize10ms-align2RewFeedback.mat')
vs3 = [v1, v2, v3, v4]
ws3 = [w1, w2, w3, w4]

v1 = h5py.File('data/StimOnset/RastVect-V20160929-binsize10ms-align2StimOnset.mat')
v2 = h5py.File('data/StimOnset/RastVect-V20160930-binsize10ms-align2StimOnset.mat')
v3 = h5py.File('data/StimOnset/RastVect-V20161005-binsize10ms-align2StimOnset.mat')
v4 = h5py.File('data/StimOnset/RastVect-V20161017-binsize10ms-align2StimOnset.mat')
w1 = h5py.File('data/StimOnset/RastVect-W20160112-binsize10ms-align2StimOnset.mat')
w2 = h5py.File('data/StimOnset/RastVect-W20160113-binsize10ms-align2StimOnset.mat')
w3 = h5py.File('data/StimOnset/RastVect-W20160121-binsize10ms-align2StimOnset.mat')
w4 = h5py.File('data/StimOnset/RastVect-W20160122-binsize10ms-align2StimOnset.mat')
vs4 = [v1, v2, v3, v4]
ws4 = [w1, w2, w3, w4]

all_values = [vs, ws]
choice_aligned = [vs2, ws2]
cue_aligned = [vs4, ws4]

# Values

In [16]:
dfs = []
columns = ['monkey', 'session', 'block_type', 'trial', 'left', 'right', 'correct', 'reversal_at_trial', 'monkey_accuracy', 'reward']

for monkey in ['V', 'W']:
    files = vs if monkey=='V' else ws
    for f, file in enumerate(files):
        print(f)
        df = pd.DataFrame(columns=columns)
        data = file['Y']
        bid = data[:,7]
        block = data[:,9]
        trial = data[:,5]
        letter = data[:,0]
        location = data[:,1]
        best_chosen = data[:,4]
        block_completed = data[:,12]
        rewards = data[:,2]
        # reversal_at_trial = data[:,6]
        idxs = np.argwhere(data[:,6]==1)[:,0]
        reversal_at_trial = {}
        for idx in idxs:
            bb = bid[idx]
            tt = trial[idx]
            reversal_at_trial[bb]=tt
        # print(idxs, reversal_at_trial)
        # raise
        # reversal_at_trial = []
        # for bb in np.unique(bid):
        #     idx = np.argwhere(data[:,6]==1)[bb-1][0]
        #     reversal_at_trial.append(trial[idx])
        # print(reversal_at_trial)
        left = []
        right = []
        correct = []
        for row in range(data.shape[0]):
            if location[row]==0 and letter[row]==0:
                left.append('A')
                right.append('B')
            if location[row]==0 and letter[row]==1:
                left.append('B')
                right.append('A')
            if location[row]==1 and letter[row]==0:
                left.append('B')
                right.append('A')
            if location[row]==1 and letter[row]==1:
                left.append('A')
                right.append('B')
            # if block[row] == 2:  # where
            if best_chosen[row]==1 and location[row]==0:
                correct.append('left')
            if best_chosen[row]==1 and location[row]==1:
                correct.append('right')
            if best_chosen[row]==0 and location[row]==0:
                correct.append('right')
            if best_chosen[row]==0 and location[row]==1:
                correct.append('left')
            # if block[row] == 1:  # what
            #     if best_chosen[row]==1 and letter[row]==0:
            #         correct.append('left')
            #     if best_chosen[row]==1 and letter[row]==1:
            #         correct.append('right')
            #     if best_chosen[row]==0 and letter[row]==0:
            #         correct.append('right')
            #     if best_chosen[row]==0 and letter[row]==1:
            #         correct.append('left')
            # print(f"block {block[row]}, left {left[-1]}, right {right[-1]}, chose {best_chosen[row]}, correct {correct[-1]}") 
        df['block'] = bid
        df['block_type'] = block
        df['trial'] = trial
        df['left'] = left
        df['right'] = right
        df['correct'] = correct
        df['clet'] = letter
        df['cloc'] = location
        df['monkey_accuracy'] = best_chosen
        df['reward'] = rewards
        df['block_completed'] = block_completed
        df = df[df['block_completed'] != 0]
        temp = []
        for bb in df['block'].unique():
            for t in df.query("block==@bb")['trial'].unique():
                temp.append(reversal_at_trial[bb])
            # print(bid, t)
        df['reversal_at_trial'] = temp
        df['monkey'] = [monkey for _ in range(df.shape[0])]
        df['session'] = [f for _ in range(df.shape[0])]
        dfs.append(df)

behavioral_data = pd.concat(dfs, ignore_index=True)
# behavioral_data['left'] = behavioral_data['letter'].replace('A', -1)
# behavioral_data['left'] = behavioral_data['letter'].replace('B', 1)
# behavioral_data['right'] = behavioral_data['location'].replace('A', -1)
# behavioral_data['right'] = behavioral_data['location'].replace('B', 1)
behavioral_data['block_type'] = behavioral_data['block_type'].replace(1, 'what')
behavioral_data['block_type'] = behavioral_data['block_type'].replace(2, 'where')
behavioral_data['cloc'] = behavioral_data['cloc'].replace(1, 'right')
behavioral_data['cloc'] = behavioral_data['cloc'].replace(0, 'left')
behavioral_data['clet'] = behavioral_data['clet'].replace(0, 'A')
behavioral_data['clet'] = behavioral_data['clet'].replace(1, 'B')
# behavioral_data = behavioral_data[behavioral_data['block_completed'] != 0]
behavioral_data = behavioral_data.drop(columns='block_completed')

0
1
2
3
0
1
2
3

In [21]:
behavioral_data.query("monkey=='V' & block==13")[20:60]

,monkey,session,block_type,trial,left,right,correct,reversal_at_trial,monkey_accuracy,reward,block,clet,cloc
1220,V,0,where,21,A,B,left,40,1,0,13,A,left
1221,V,0,where,22,B,A,left,40,0,0,13,A,right
1222,V,0,where,23,B,A,left,40,1,1,13,B,left
1223,V,0,where,24,A,B,left,40,1,1,13,A,left
1224,V,0,where,25,B,A,left,40,1,0,13,B,left
1225,V,0,where,26,B,A,left,40,1,1,13,B,left
1226,V,0,where,27,A,B,left,40,1,1,13,A,left
1227,V,0,where,28,B,A,left,40,1,0,13,B,left
1228,V,0,where,29,B,A,left,40,0,1,13,A,right
1229,V,0,where,30,B,A,left,40,0,0,13,A,right
1230,V,0,where,31,B,A,left,40,0,0,13,A,right
1231,V,0,where,32,A,B,left,40,1,1,13,A,left
1232,V,0,where,33,B,A,left,40,1,0,13,B,left
1233,V,0,where,34,A,B,left,40,1,1,13,A,left
1234,V,0,where,35,B,A,left,40,1,1,13,B,left
1235,V,0,where,36,B,A,left,40,1,1,13,B,left
1236,V,0,where,37,B,A,left,40,1,0,13,B,left
1237,V,0,where,38,B,A,left,40,1,0,13,B,left
1238,V,0,where,39,B,A,left,40,1,0,13,B,left
1239,V,0,where,40,B,A,right,40,1,1,13,A,right
1240,V,0,where,41,A,B,right,40,0,0,13,A,left
1241,V,0,where,42,B,A,right,40,1,1,13,A,right
1242,V,0,where,43,B,A,right,40,1,1,13,A,right
1243,V,0,where,44,B,A,right,40,1,1,13,A,right
1244,V,0,where,45,B,A,right,40,1,0,13,A,right
1245,V,0,where,46,A,B,right,40,1,1,13,B,right
1246,V,0,where,47,B,A,right,40,1,1,13,A,right
1247,V,0,where,48,B,A,right,40,1,1,13,A,right
1248,V,0,where,49,B,A,right,40,1,1,13,A,right
1249,V,0,where,50,A,B,right,40,1,1,13,B,right
1250,V,0,where,51,B,A,right,40,1,1,13,A,right
1251,V,0,where,52,B,A,right,40,1,1,13,A,right
1252,V,0,where,53,B,A,right,40,1,0,13,A,right
1253,V,0,where,54,B,A,right,40,1,1,13,A,right
1254,V,0,where,55,A,B,right,40,1,1,13,B,right
1255,V,0,where,56,B,A,right,40,1,0,13,A,right
1256,V,0,where,57,A,B,right,40,1,1,13,B,right
1257,V,0,where,58,A,B,right,40,1,0,13,B,right
1258,V,0,where,59,B,A,right,40,1,1,13,A,right
1259,V,0,where,60,B,A,right,40,1,1,13,A,right

In [18]:
behavioral_data.to_pickle("data/empirical.pkl")

In [13]:
def check_opposite(row):
    return (row['left'] == 'A' and row['right'] == 'B') or \
           (row['left'] == 'B' and row['right'] == 'A')

# Apply the check to all rows
all_opposite = behavioral_data.apply(check_opposite, axis=1).all()

print("All rows contain opposite letters:", all_opposite)

All rows contain opposite letters: True

# Spikes

In [7]:
f_cue, t_start_cue, t_end_cue = choice_aligned, 145, 155
f_choice, t_start_choice, t_end_choice = cue_aligned, 140, 150
for m, monkey in enumerate(['V', 'W']):
    files_value = all_values[m]
    files_cue = f_cue[m]
    files_choice = f_choice[m]
    for session in [0,1,2,3]:
        print(f"monkey {monkey} session {session}")
        trial_data = files_value[session]['Y']
        bid = trial_data[:,7]
        tid = trial_data[:,5]
        spk_choice = files_choice[session]['aligned2event']
        spk_cue = files_cue[session]['aligned2event']
        for t in range(len(tid)):
            block = bid[t]
            trial = tid[t]
            spikes_choice = spk_choice[t]
            spikes_cue = spk_cue[t]
            summed_choice = np.sum(spikes_choice[:,t_start_choice: t_end_choice], axis=1)
            summed_cue = np.sum(spikes_cue[:,t_start_cue: t_end_cue], axis=1)
            file_choice = f"data/emp/monkey{monkey}_session{session}_block{block}_trial{trial}_spikes_choice.npz"
            file_cue = f"data/emp/monkey{monkey}_session{session}_block{block}_trial{trial}_spikes_cue.npz"
            np.savez_compressed(file_cue, spikes=summed_cue)
            np.savez_compressed(file_choice, spikes=summed_choice)

monkey V session 0
monkey V session 1
monkey V session 2
monkey V session 3
monkey W session 0
monkey W session 1
monkey W session 2
monkey W session 3