In [1]:
import numpy as np
import pandas as pd
import scipy.io

In [2]:
# downloaded from https://data.mendeley.com/datasets/p7ft2bvphx/1
a = scipy.io.loadmat('data/empirical/SPKcounts_V20160929cue_MW_250X250ms.mat')
b = scipy.io.loadmat('data/empirical/SPKcounts_V20160930cue_MW_250X250ms.mat')
c = scipy.io.loadmat('data/empirical/SPKcounts_V20161005cue_MW_250X250ms.mat')
d = scipy.io.loadmat('data/empirical/SPKcounts_V20161017cue_MW_250X250ms.mat')
e = scipy.io.loadmat('data/empirical/SPKcounts_W20160112cue_MW_250X250ms.mat')
f = scipy.io.loadmat('data/empirical/SPKcounts_W20160113cue_MW_250X250ms.mat')
g = scipy.io.loadmat('data/empirical/SPKcounts_W20160121cue_MW_250X250ms.mat')
h = scipy.io.loadmat('data/empirical/SPKcounts_W20160122cue_MW_250X250ms.mat')

In [22]:
dfs = []
columns = ['sid', 'block', 'trial', 'left', 'right', 'correct', 'reversal_at_trial']

sid = 0
for file in [a,b,c,d,e,f,g,h]:
    df = pd.DataFrame(columns=columns)
    data = file['Y']
    bid = data[:,7]
    block = data[:,9]
    trial = data[:,5]
    letter = data[:,0]
    location = data[:,1]
    best_chosen = data[:,4]
    block_completed = data[:,12]
    # reversal_at_trial = data[:,6]
    idxs = np.argwhere(data[:,6]==1)[:,0]
    reversal_at_trial = {}
    for idx in idxs:
        bb = bid[idx]
        tt = trial[idx]
        reversal_at_trial[bb]=tt
    # print(idxs, reversal_at_trial)
    # raise
    # reversal_at_trial = []
    # for bb in np.unique(bid):
    #     idx = np.argwhere(data[:,6]==1)[bb-1][0]
    #     reversal_at_trial.append(trial[idx])
    # print(reversal_at_trial)
    left = []
    right = []
    correct = []
    for row in range(data.shape[0]):
        if location[row]==0 and letter[row]==0:
            left.append('A')
            right.append('B')
        if location[row]==0 and letter[row]==1:
            left.append('B')
            right.append('A')
        if location[row]==1 and letter[row]==0:
            left.append('B')
            right.append('A')
        if location[row]==1 and letter[row]==1:
            left.append('A')
            right.append('B')
        # if block[row] == 2:  # where
        if best_chosen[row]==1 and location[row]==0:
            correct.append('left')
        if best_chosen[row]==1 and location[row]==1:
            correct.append('right')
        if best_chosen[row]==0 and location[row]==0:
            correct.append('right')
        if best_chosen[row]==0 and location[row]==1:
            correct.append('left')
        # if block[row] == 1:  # what
        #     if best_chosen[row]==1 and letter[row]==0:
        #         correct.append('left')
        #     if best_chosen[row]==1 and letter[row]==1:
        #         correct.append('right')
        #     if best_chosen[row]==0 and letter[row]==0:
        #         correct.append('right')
        #     if best_chosen[row]==0 and letter[row]==1:
        #         correct.append('left')
        # print(f"block {block[row]}, left {left[-1]}, right {right[-1]}, chose {best_chosen[row]}, correct {correct[-1]}") 
    df['bid'] = bid
    df['block'] = block
    df['trial'] = trial
    df['left'] = left
    df['right'] = right
    df['correct'] = correct
    df['block_completed'] = block_completed
    df = df[df['block_completed'] != 0]
    temp = []
    for bb in df['bid'].unique():
        for t in df.query("bid==@bb")['trial'].unique():
            temp.append(reversal_at_trial[bb])
        # print(bid, t)
    df['reversal_at_trial'] = temp
    df['sid'] = sid * np.ones((df.shape[0], 1), dtype=int)
    dfs.append(df)
    sid += 1

behavioral_data = pd.concat(dfs, ignore_index=True)
# behavioral_data['left'] = behavioral_data['letter'].replace('A', -1)
# behavioral_data['left'] = behavioral_data['letter'].replace('B', 1)
# behavioral_data['right'] = behavioral_data['location'].replace('A', -1)
# behavioral_data['right'] = behavioral_data['location'].replace('B', 1)
behavioral_data['block'] = behavioral_data['block'].replace(1, 'what')
behavioral_data['block'] = behavioral_data['block'].replace(2, 'where')
# behavioral_data = behavioral_data[behavioral_data['block_completed'] != 0]
behavioral_data = behavioral_data.drop(columns='block_completed')

In [32]:
behavioral_data.query("sid==1 & bid==18")[20:60]

      sid  block  trial left right correct  reversal_at_trial  bid
3220    1  where     21    A     B   right                 33   18
3221    1  where     22    A     B   right                 33   18
3222    1  where     23    B     A   right                 33   18
3223    1  where     24    B     A   right                 33   18
3224    1  where     25    B     A   right                 33   18
3225    1  where     26    A     B   right                 33   18
3226    1  where     27    B     A   right                 33   18
3227    1  where     28    A     B   right                 33   18
3228    1  where     29    A     B   right                 33   18
3229    1  where     30    B     A   right                 33   18
3230    1  where     31    A     B   right                 33   18
3231    1  where     32    B     A   right                 33   18
3232    1  where     33    A     B    left                 33   18
3233    1  where     34    B     A    left                 33   18
3234    1  where     35    A     B    left                 33   18
3235    1  where     36    B     A    left                 33   18
3236    1  where     37    B     A    left                 33   18
3237    1  where     38    B     A    left                 33   18
3238    1  where     39    B     A    left                 33   18
3239    1  where     40    A     B    left                 33   18
3240    1  where     41    B     A    left                 33   18
3241    1  where     42    A     B    left                 33   18
3242    1  where     43    B     A    left                 33   18
3243    1  where     44    B     A    left                 33   18
3244    1  where     45    A     B    left                 33   18
3245    1  where     46    B     A    left                 33   18
3246    1  where     47    A     B    left                 33   18
3247    1  where     48    B     A    left                 33   18
3248    1  where     49    B     A    left                 33   18
3249    1  where     50    B     A    left                 33   18
3250    1  where     51    A     B    left                 33   18
3251    1  where     52    A     B    left                 33   18
3252    1  where     53    A     B    left                 33   18
3253    1  where     54    A     B    left                 33   18
3254    1  where     55    A     B    left                 33   18
3255    1  where     56    B     A    left                 33   18
3256    1  where     57    B     A    left                 33   18
3257    1  where     58    A     B    left                 33   18
3258    1  where     59    B     A    left                 33   18
3259    1  where     60    A     B    left                 33   18

In [33]:
behavioral_data.to_pickle("data/empirical.pkl")