In [3]:
import numpy as np
import pandas as pd
import scipy.io
import h5py

In [4]:
# downloaded from https://data.mendeley.com/datasets/p7ft2bvphx/1
v1 = scipy.io.loadmat('data/empirical/SPKcounts_V20160929cue_MW_250X250ms.mat')
v2 = scipy.io.loadmat('data/empirical/SPKcounts_V20160930cue_MW_250X250ms.mat')
v3 = scipy.io.loadmat('data/empirical/SPKcounts_V20161005cue_MW_250X250ms.mat')
v4 = scipy.io.loadmat('data/empirical/SPKcounts_V20161017cue_MW_250X250ms.mat')
w1 = scipy.io.loadmat('data/empirical/SPKcounts_W20160112cue_MW_250X250ms.mat')
w2 = scipy.io.loadmat('data/empirical/SPKcounts_W20160113cue_MW_250X250ms.mat')
w3 = scipy.io.loadmat('data/empirical/SPKcounts_W20160121cue_MW_250X250ms.mat')
w4 = scipy.io.loadmat('data/empirical/SPKcounts_W20160122cue_MW_250X250ms.mat')
vs = [v1, v2, v3, v3]
ws = [w1, w2, w3, w4]

In [15]:
dfs = []
columns = ['monkey', 'session', 'block', 'trial', 'left', 'right', 'correct', 'reversal_at_trial', 'monkey_accuracy']

for monkey in ['V', 'W']:
    files = vs if monkey=='V' else ws
    for f, file in enumerate(files):
        print(f)
        df = pd.DataFrame(columns=columns)
        data = file['Y']
        bid = data[:,7]
        block = data[:,9]
        trial = data[:,5]
        letter = data[:,0]
        location = data[:,1]
        best_chosen = data[:,4]
        block_completed = data[:,12]
        # reversal_at_trial = data[:,6]
        idxs = np.argwhere(data[:,6]==1)[:,0]
        reversal_at_trial = {}
        for idx in idxs:
            bb = bid[idx]
            tt = trial[idx]
            reversal_at_trial[bb]=tt
        # print(idxs, reversal_at_trial)
        # raise
        # reversal_at_trial = []
        # for bb in np.unique(bid):
        #     idx = np.argwhere(data[:,6]==1)[bb-1][0]
        #     reversal_at_trial.append(trial[idx])
        # print(reversal_at_trial)
        left = []
        right = []
        correct = []
        for row in range(data.shape[0]):
            if location[row]==0 and letter[row]==0:
                left.append('A')
                right.append('B')
            if location[row]==0 and letter[row]==1:
                left.append('B')
                right.append('A')
            if location[row]==1 and letter[row]==0:
                left.append('B')
                right.append('A')
            if location[row]==1 and letter[row]==1:
                left.append('A')
                right.append('B')
            # if block[row] == 2:  # where
            if best_chosen[row]==1 and location[row]==0:
                correct.append('left')
            if best_chosen[row]==1 and location[row]==1:
                correct.append('right')
            if best_chosen[row]==0 and location[row]==0:
                correct.append('right')
            if best_chosen[row]==0 and location[row]==1:
                correct.append('left')
            # if block[row] == 1:  # what
            #     if best_chosen[row]==1 and letter[row]==0:
            #         correct.append('left')
            #     if best_chosen[row]==1 and letter[row]==1:
            #         correct.append('right')
            #     if best_chosen[row]==0 and letter[row]==0:
            #         correct.append('right')
            #     if best_chosen[row]==0 and letter[row]==1:
            #         correct.append('left')
            # print(f"block {block[row]}, left {left[-1]}, right {right[-1]}, chose {best_chosen[row]}, correct {correct[-1]}") 
        df['bid'] = bid
        df['block'] = block
        df['trial'] = trial
        df['left'] = left
        df['right'] = right
        df['correct'] = correct
        df['monkey_accuracy'] = best_chosen
        df['block_completed'] = block_completed
        df = df[df['block_completed'] != 0]
        temp = []
        for bb in df['bid'].unique():
            for t in df.query("bid==@bb")['trial'].unique():
                temp.append(reversal_at_trial[bb])
            # print(bid, t)
        df['reversal_at_trial'] = temp
        df['monkey'] = [monkey for _ in range(df.shape[0])]
        df['session'] = [f for _ in range(df.shape[0])]
        dfs.append(df)

behavioral_data = pd.concat(dfs, ignore_index=True)
# behavioral_data['left'] = behavioral_data['letter'].replace('A', -1)
# behavioral_data['left'] = behavioral_data['letter'].replace('B', 1)
# behavioral_data['right'] = behavioral_data['location'].replace('A', -1)
# behavioral_data['right'] = behavioral_data['location'].replace('B', 1)
behavioral_data['block'] = behavioral_data['block'].replace(1, 'what')
behavioral_data['block'] = behavioral_data['block'].replace(2, 'where')
# behavioral_data = behavioral_data[behavioral_data['block_completed'] != 0]
behavioral_data = behavioral_data.drop(columns='block_completed')

0
1
2
3
0
1
2
3

In [22]:
behavioral_data.query("monkey=='V' & bid==20")[20:60]

,monkey,session,block,trial,left,right,correct,reversal_at_trial,monkey_accuracy,bid
1460,V,0,where,21,B,A,right,44,0,20
1461,V,0,where,22,B,A,right,44,0,20
1462,V,0,where,23,A,B,right,44,1,20
1463,V,0,where,24,B,A,right,44,0,20
1464,V,0,where,25,B,A,right,44,1,20
1465,V,0,where,26,B,A,right,44,1,20
1466,V,0,where,27,A,B,right,44,1,20
1467,V,0,where,28,A,B,right,44,1,20
1468,V,0,where,29,B,A,right,44,1,20
1469,V,0,where,30,A,B,right,44,1,20
1470,V,0,where,31,B,A,right,44,1,20
1471,V,0,where,32,B,A,right,44,1,20
1472,V,0,where,33,A,B,right,44,1,20
1473,V,0,where,34,A,B,right,44,1,20
1474,V,0,where,35,A,B,right,44,1,20
1475,V,0,where,36,A,B,right,44,1,20
1476,V,0,where,37,A,B,right,44,1,20
1477,V,0,where,38,B,A,right,44,1,20
1478,V,0,where,39,B,A,right,44,1,20
1479,V,0,where,40,B,A,right,44,1,20
1480,V,0,where,41,B,A,right,44,1,20
1481,V,0,where,42,B,A,right,44,1,20
1482,V,0,where,43,B,A,right,44,1,20
1483,V,0,where,44,A,B,left,44,0,20
1484,V,0,where,45,A,B,left,44,0,20
1485,V,0,where,46,B,A,left,44,0,20
1486,V,0,where,47,B,A,left,44,0,20
1487,V,0,where,48,A,B,left,44,0,20
1488,V,0,where,49,B,A,left,44,0,20
1489,V,0,where,50,B,A,left,44,0,20
1490,V,0,where,51,B,A,left,44,0,20
1491,V,0,where,52,B,A,left,44,0,20
1492,V,0,where,53,A,B,left,44,1,20
1493,V,0,where,54,A,B,left,44,1,20
1494,V,0,where,55,A,B,left,44,1,20
1495,V,0,where,56,B,A,left,44,1,20
1496,V,0,where,57,B,A,left,44,0,20
1497,V,0,where,58,B,A,left,44,1,20
1498,V,0,where,59,B,A,left,44,0,20
1499,V,0,where,60,A,B,left,44,1,20

In [23]:
behavioral_data.to_pickle("data/empirical.pkl")

In [13]:
def check_opposite(row):
    return (row['left'] == 'A' and row['right'] == 'B') or \
           (row['left'] == 'B' and row['right'] == 'A')

# Apply the check to all rows
all_opposite = behavioral_data.apply(check_opposite, axis=1).all()

print("All rows contain opposite letters:", all_opposite)

All rows contain opposite letters: True